<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Терморегулятор</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
            <div class="category-wrap">
                <h3>График текущего состояния</h3>
                <ul>
                  <li><a href="{{ url_for('index') }}"> Начальная страница</a></li>
                  <li><a class="btn" href="{{ url_for('start_record') }}" href="javascript:showhide('graph')">Начать цикл прокалки</a></li>
                </ul>
            </div>
            <script>
                function showhide(id) {
                    var e = document.getElementById(id);
                    e.style.display = (e.style.display == 'block') ? 'none' : 'block';
                }
            </script>
            <canvas id="graph" width=500px height=300px></canvas>
            <script>    
                let interval = setInterval(async () => {
                    let answer = await fetch('temperature'),
                        res = await answer.text();
                },300);
            </script>
    </body>
</html>