<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Терморегулятор</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <form method="get" action="/">
            <div class="category-wrap">
                <h3>Меню навигации</h3>
                <ul>
                  <li><a href=""><input type="submit" href="{{ url_for('Start') }}"  value="Start" name="Start"/></a></li>
                  <li><a href=""><input type="submit" href="{{ url_for('Gaph') }}"  value="Gaph" name="Gaph"/></a></li>
                  <li><a href=""><input type="submit" href="{{ url_for('Models') }}" value="Models" name="Modes"/></a></li>
                </ul>
              </div>
        </form>
        <div class="temperature">
            текущая температура


        </div>
    </body>
</html>