<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Терморегулятор</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
            <div class="category-wrap">
                <h3>Меню навигации</h3>
                <ul>
                    <li><a href="{{ url_for('index') }}">Начальная страница</a></li>
                    <li><a href="{{ url_for('modes') }}">График текущего состояния</a></li>
                    <li><a href="{{ url_for('graph') }}">Страница режимов работы</a></li>
                </ul>
              </div>
        <div id="temperature">
        </div>
        <script>
        let interval = setInterval(async () => {
            let answer = await fetch('temperature.py'),
                res = await answer.text();
            document.querySelector('#temperature').textContent = "Текущая температура"+res;
        },3000);</script>
    </body>
</html>