<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Терморегулятор</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
    <div class="category-wrap">
        <h3>Страница режимов работы</h3>
        <ul>
            <li><a href="{{ url_for('index') }}"> Начальная страница</a></li>
            <li><a href="{{ url_for('index') }}"> Добавить элемент</a></li>
            <li><a href="{{ url_for('index') }}"> Сохранить настройки</a></li>
        </ul>
    </div>
    <div>
        <table id="myTable" width = 100%>
            <tr>
             <th>Температура</th>
             <th>Время нагрева</th>
             <th>Удалить элемент</th>
            </tr>            
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="button" value="Add" onclick="addRow('myTable')"/></td>
                <td><input type="button" value="Delete" onclick="deleteRow(this)"/></td>
            </tr>
           </table>
    </div>
    <script> 
        function deleteRow(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
        }
  </script>

<script type="text/javascript">
    function addRow(id){
        var tbody = document.getElementById(id).getElementsByTagName("TBODY")[0];
        var row = document.createElement("TR")
        var td1 = document.createElement("TD")
        td1.appendChild(document.createTextNode("column 1"))
        var td2 = document.createElement("TD")
        td2.appendChild (document.createTextNode("column 2"))
        row.appendChild(td1);
        row.appendChild(td2);
        tbody.appendChild(row);
      }
    </script>

    </body>
</html>