<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Терморегулятор</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <form method="post" action="/">
            <div class="category-wrap">
                <h3>Страница режимов работы</h3>
                <ul>
                  <li><a href=""> <input type="submit"  value="Начальная страница" name="Start"/></a></li>
                </ul>
              </div>
        </form>
        <div class="temperature">
            текущая температура
            

        </div>
    </body>
</html>