<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Терморегулятор</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
    <div class="category-wrap">
        <h3>Страница режимов работы</h3>
        <ul>
            <li><a href="{{ url_for('index') }}"> Начальная страница</a></li>
            <li><a href="{{ url_for('index') }}"> Добавить элемент</a></li>
            <li><a href="{{ url_for('index') }}"> Сохранить настройки</a></li>
        </ul>
    </div>
    <div>
        <table width = 100%>
            <tr>
             <th>Температура</th>
             <th>Время нагрева</th>
             <th>Удалить элемент</th>
            </tr>            
           </table>
    </div>

    <script type="text/javascript">
        function addRow(id){
            var tbody = document.getElementById(id).getElementsByTagName("TBODY")[0];
            var row = document.createElement("TR")
            var td1 = document.createElement("TD")
            td1.appendChild(document.createTextNode("column 1"))
            var td2 = document.createElement("TD")
            td2.appendChild (document.createTextNode("column 2"))
            row.appendChild(td1);
            row.appendChild(td2);
            tbody.appendChild(row);
          }
        </script>
        
        <h1>Добавление строки в таблице с помощью DOM javascript</h1>
        <p>Скрипт добавляет строку в таблицу, после нажатия на ссылку.</p>
        
        <a href="javascript://" onclick="addRow('myTable');return false;">Добавить строку</a>
        <table id="myTable" cellspacing="0" border="1">
          <tbody>
            <tr>
              <td>row1_column1</td><td>row1_column1</td>
            </tr>
          </tbody>
        </table>

    </body>
</html>